/* nav ani açılacak body overflow x */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  overflow-x: hidden;
  height: max-content;
  background: #ddd6f36e;
  background: -webkit-linear-gradient(to top, #ffc6c378, #ddd6f36e);
  background: linear-gradient(to top, #ffc6c378, #ddd6f36e);
  background-image: url(../photos/back2.jpg);
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-weight: 200;
  font-size: 3rem;
}
.nav {
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  background-color: white;
  animation: navAni 2s ease 1s forwards;
  -webkit-animation: navAni 2s ease 1s forwards;
  -moz-animation: navAni 2s ease 1s forwards;
  -o-animation: navAni 2s ease 1s forwards;
  padding-top: 60px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.389);
}

.navImage {
  width: 70vw;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
}

@keyframes navAni {
  0% {
    background-color: white;
    height: 100vh;
  }
  100% {
    background-color: rgba(239, 211, 127, 0.8);
    height: 10vh;
  }
}
@-webkit-keyframes navAni {
  0% {
    background-color: white;
    height: 100vh;
  }
  100% {
    background-color: rgba(239, 211, 127, 0.8);
    height: 10vh;
  }
}
@-moz-keyframes navAni {
  0% {
    background-color: white;
    height: 100vh;
  }
  100% {
    background-color: white;

    height: 10vh;
  }
}
@-o-keyframes navAni {
  0% {
    background-color: white;
    height: 100vh;
  }
  100% {
    background-color: rgba(239, 211, 127, 0.8);
    height: 10vh;
  }
}

.mainKeeper {
  z-index: 4;
  width: 100vw;
  height: max-content;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: end;
}
.main {
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  display: flex;
  height: 60%;
  width: 77.5%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.389);
}
.section1 {
  text-align: left;
  background: rgba(251, 251, 251, 0.9);
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 20vw;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 12vh;
  left: 0vw;
  padding: 10px;
  border-radius: 25px;
  border: solid 1px gray;
  text-shadow: -1px 1px 1 white;
  border-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: fadein ease 1.5s;
  -webkit-animation: fadein ease 1.5s;
  -moz-animation: fadein ease 1.5s;
  -o-animation: fadein ease 1.5s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -moz-animation-delay: 2s;
  -moz-animation-fill-mode: forwards;
  -o-animation-iteration-count: 1;
  -o-animation-delay: 2s;
  -o-animation-fill-mode: forwards;
}
.section2 {
  z-index: 4;
  height: max-content;
  padding-bottom: 40px;
  padding-top: 30px;
  width: 93.5%;
  display: flex;
  justify-content: center;
}
.iletHeader {
  margin: 0;
  font-size: 2rem;
}
.iletblock {
  align-items: center;
  width: 250px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  justify-content: start;
  padding-left: 20px;
  color: black;
}
.iletblock:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

@keyframes fadein {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 40px;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 40px;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 40px;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 40px;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hizmet {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container {
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
  width: 20vw;
  height: auto;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}

.image {
  margin-top: 10px;
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.overlay {
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(239, 211, 127); /* Yeşil renk, opaklık %70 */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 30px;
  font-weight: 200;
}
.upArrow {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.626);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.358);
  border-radius: 50%;
  position: fixed;
  top: 90vh;
  left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  margin-left: 20px;
  animation: upAr 1s ease 2s 1 alternate forwards;
  -webkit-animation: upAr 1s ease 2s 1 alternate forwards;
  -moz-animation: upAr 1s ease 2s 1 alternate forwards;
  -o-animation: upAr 1s ease 2s 1 alternate forwards;
}

@keyframes upAr {
  from {
    opacity: 0;
    margin-left: 20px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
@-webkit-keyframes upAr {
  from {
    opacity: 0;
    margin-left: 20px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
@-moz-keyframes upAr {
  from {
    opacity: 0;
    margin-left: 20px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
@-o-keyframes upAr {
  from {
    opacity: 0;
    margin-left: 20px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}

.upArrow:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.732);
}
.upArrow:active {
  opacity: 0.7;
}
.arrow {
  transform: rotate(-90deg);
}
.about {
  opacity: 0;
  z-index: 3;
  width: 75.5vw;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 75vh;
  left: 23.15vw;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 40px;
  animation: fadein2 2s ease 2.5s 1 alternate forwards;
  -webkit-animation: fadein2 2s ease 2.5s 1 alternate forwards;
  -moz-animation: fadein2 2s ease 2.5s 1 alternate forwards;
  -o-animation: fadein2 2s ease 2.5s 1 alternate forwards;
}
.aboutSection {
  width: 100%;
}
.upAbout {
  height: 15%;
  text-align: center;
}
.upDown {
  padding-top: 40px;
  height: 85%;
  text-align: left;
  line-height: 25px;
  font-size: 1.2rem;
  font-weight: 300;
}
.vidAbout {
  height: auto;
  width: 19.5vw;
  border-radius: 25px;
  margin-left: 2vw;
  margin-right: 2vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.videoKeeper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}
.exp {
  font-size: 1.3rem;
  color: black;
}
.footer {
  background-color: rgba(255, 255, 255, 0.9);
  width: 98vw;
  height: 20vw;
  position: absolute;
  top: 194vh;
  left: 1vw;
  display: flex;
  flex-direction: row;
  border-radius: 25px 25px 0px 0px;
}
.newHeight {
  position: absolute;
  top: 130vh;
  left: 0vw;
  height: 60vh;
}
.leftFooter {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  font-weight: 300;
  font-size: 1.2rem;
  margin-right: 5vw;
}
.rightFooter {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  font-weight: 300;
  font-size: 1.2rem;
  margin-right: 5vw;
}
.footerLogo {
  width: 100%;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.9));
}
.footerKeeper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.footerKeeper,
h1 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.footerKeeper,
p {
  font-size: 1.3rem;
  font-weight: 200;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
